@tailwind base;
@tailwind components;
@tailwind utilities;

.house {
  background-image: url("/images/house.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  margin: auto;
  height: 40vh;
}

.marquees {
  animation-name: marquees;
  animation-iteration-count: infinite;
  animation-duration: 9s;
}

.bg {
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px;
}

@keyframes marquees {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-1450px);
  }
}
